@charset "utf-8";

// ini
$dir_img : "/img";
$f_size_base: 13;

// width
$w_base 	: 640px;

// margin
$m_base 	: 20px;

// theme-color
$t_pink		: #DF5D86;
$t_orange	: #DD521D;
$t_yellow	: #FFCC00;
$t_blue		: #3399CC;
$t_black	: #231815;
$t_gray		: #5A5454;
$t_purple	: #5A192D;
$t_brown	: #73420D;
$t_thin		: #B7A9A2;
$t_red		: #D90000;
$t_green	: #A3D900;

//SNS brand-color
$sb_fb		: #3664a2;
$sb_tw		: #55acee;
$sb_line	: #00c300;








